body {
  background-color: #3F7FBF;

}

.container-fluid {
  background-color: #FFEB99;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  display: 100%;
}

.row {
  border-color:"#3F7FBF"
  border-width: "normal";
  padding: 20px;
  font-family: cursive;
}
